<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/header') %>
    <title>About </title>
  </head>
  <body>
    
    <%- include('partials/nav') %>
  <!-- Page Content -->
  <section>
    <div class="container">
        <div class="row">
            <div class="col">
              1 of 2
            </div>
            <div class="col">
              2 of 2
            </div>
          </div>
      </div>
    </div>
  </section>

  <%- include('partials/scripts') %>
  </body>
</html>