<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/header') %>
    <title>Contact me</title>
  </head>
  <body>
    
    <%- include('partials/nav') %>
  <!-- Page Content -->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h1 class="mt-5">Contact me</h1>
  
        </div>
      </div>
    </div>
    <%- include('partials/footer') %>
  </section>

   
    <%- include('partials/scripts') %>
  </body>
</html>