<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/header') %>
    <title>Portfolio</title>
  </head>
  <body>
    
    <%- include('partials/nav') %>
  <!-- Page Content -->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h1 class="mt-5">Here is my portfolio</h1>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae nulla reiciendis similique, molestias, fugit architecto vero, totam corporis rem quod rerum quos quisquam officia voluptas aliquid ratione saepe minima delectus?</p>
        </div>
      </div>
    </div>
  </section>

  <%- include('partials/scripts') %>
  </body>
</html>